.amazonCon {
    height: 350px;
    width: 500px;
    border: solid 2px green;
    margin-left: 50px;
}


.ang {
    color: rgb(0, 113, 133);
    font-size: 20px;
    margin-bottom: 10px;
}

.nike {
    font-size: 40px;
    font-weight: 700;
}

.dollar {
    color: rgb(0, 118, 0);
    font-size: 22px;
    font-weight: bold;
}