
.clickButton {
    height: 50px;
    width: 120px;
    background-color: rgb(0, 118, 0);
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: semi-bold;
    color: antiquewhite;
    cursor: pointer;
    transition: background-color 1s,
        color 1s;
}

.clickButton:hover {
    background-color: antiquewhite;
    color: rgb(0, 118, 0);
}

.clickButton:active {
    
}





.amazonCon {
    height: 350px;
    width: 500px;
    border: solid 2px green;
    margin-left: 50px;
}


.ang {
    color: rgb(0, 113, 133);
    font-size: 20px;
    margin-left: 10px;
    padding-top: 10px;
    display: block;
}

.nike {
    font-size: 40px;
    font-weight: 700;
    margin-left: 10px;
}

.dollar {
    color: rgb(0, 118, 0);
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.freeD {
    font-size: 25px;
    font-weight: semi-bold;
    margin-left: 10px;
}

.addCart {
    height: 50px;
    width: 180px;
    margin-left: 10px;
    margin-right: 5px;
    background-color: rgb(255, 216, 20);
    border: none;
    border-radius: 25px;
    font-size: 22px;
    font-weight: semi-bold;
}

.buyN {
    height: 50px;
    width: 180px;
    margin-left: 10px;
    border: none;
    border-radius: 25px;
    font-size: 22px;
    font-weight: semi-bold;
    background-color: rgb(255, 164, 28);
}