* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: black; */
}

.sub-button {
    background-color: rgb(196, 7, 7);
    color: white;
    border: none;
    width: 105px;
    height: 36px;
    margin: 5px;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.sub-button:hover {
    opacity: 0.7;
}

.sub-button:active {
    opacity: 0.5;
}

.join-button {
    background-color: white;
    border: solid 1px rgb(41, 118, 211);
    height: 36px;
    width: 63px;
    font-weight: 600;
    color: rgb(41, 118, 211);
    border-radius: 2px;
    cursor: pointer;
    margin: 10px 5px;
    transition: background-color 1s,
        color 1s;
}

.join-button:hover {
    background-color: rgb(41, 118, 211);
    color: white;
}

.join-button:active {
    opacity: 0.5;
}

.tweet-button {
    background-color: rgb(41, 118, 211);
    color: white;
    width: 75px;
    height: 36px;
    border: none;
    border-radius: 18px;
    font-weight: 600;
    margin: 10px 5px;
    cursor: pointer;
}

.tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}


.assignM1 {
    display: flex;
    gap: 20px;
    height: 110px;

    margin: 20px;
    border: solid 2px black;
    /* background-color: aliceblue; */
}

.box {
    background-color: white;
    width: 300px;
    height: 100px;
    text-align: center;

}

h3 {
    /* color: white; */
}

.uberButton {
    background-color: black;
    color: white;
    height: 48px;
    width: 160px;
    font-weight: semibold;
    font-size: 18px;
    border: none;
    border-radius: 0;
    margin-top: 10px;
    cursor: pointer;
}

.amazonButton {
    background-color: rgb(255, 216, 20);
    height: 40px;
    width: 220px;
    font-size: 18px;
    font-weight: semi-bold;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.gitHub {
    background-color: rgb(46, 164, 79);
    height: 60px;
    width: 140px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;

}

.assignM2 {
    display: flex;
    gap: 80px;
    margin: 20px;
    border: solid 2px black;
}

.box1 {
    height: 100px;
    width: 500px;
    background-color: white;
    text-align: center;
}

.box2 {
    height: 100px;
    width: 700px;
    background-color: white;
    /* text-align: center; */
    padding: 10px;
}

.boot1 {
    height: 60px;
    width: 170px;
    background-color: rgb(121, 82, 179);
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.boot2 {
    height: 60px;
    width: 170px;
    background-color: white;
    border: solid 2px rgb(108, 117, 125);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    color: rgb(108, 117, 125);
    font-weight: bold;
    font-size: 18px;
    
}

.link1 {
    height: 60px;
    width: 350px;
    background-color: rgb(10, 102,194);
    border: none;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-right: 5px;
}

.link2 {
    height: 60px;
    width: 130px;
    border: solid 2px rgb(10, 102,194);
    border-radius: 30px;
    color: rgb(10, 102,194);
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
}


