* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sub-button {
    background-color: rgb(196, 7, 7);
    color: white;
    border: none;
    width: 105px;
    height: 36px;
    margin: 5px;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
}

.join-button {
    background-color: white;
    border: solid 1px rgb(41, 118, 211);
    height: 36px;
    width: 63px;
    font-weight: 600;
    color: rgb(41, 118, 211);
    border-radius: 2px;
    cursor: pointer;
    margin: 10px 5px;
}

.tweet-button {
    background-color: rgb(41, 118, 211);
    color: white;
    width: 75px;
    height: 36px;
    border: none;
    border-radius: 18px;
    font-weight: 600;
    margin: 10px 5px;
}